<form (ngSubmit)="submitForm()">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add User</h4>
    <button type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" [(ngModel)]="formData.name" class="form-control" name="name">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" [(ngModel)]="formData.email" class="form-control" name="email">
    </div>
    <div class="form-group">
      <label for="dateOfBirth">Date of birth</label>
      <div class="input-group">
        <input [(ngModel)]="formData.date_of_birth" id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd"
               name="dp" ngbDatepicker #dp="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-dark">Save</button>
  </div>
</form>
