<div class="nk-app-root">
  <div class="nk-main ">
    <div class="col-md-6 offset-md-3">
      <div class="nk-header is-light">
        <div class="nk-header-wrap">
          <div class="nk-menu-trigger d-xl-none ml-n1">
            <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
          </div>
          <div class="nk-header-brand d-xl-none">
            <a href="html/index.html" class="logo-link">
              <img class="logo-light logo-img" src="./images/logo.png" srcset="./images/logo2x.png 2x" alt="logo">
              <img class="logo-dark logo-img" src="./images/logo-dark.png" srcset="./images/logo-dark2x.png 2x" alt="logo-dark">
            </a>
          </div>
          <div class="nk-header-news d-none d-xl-block">
            <div class="nk-news-list">
              <ul class="nav">
                <li class="nav-item">
                  <a routerLink="users" class="nav-link" aria-current="page" href="#">Users</a>
                </li>
                <li class="nav-item">
                  <a routerLink="tasks" class="nav-link" href="#">Tasks</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="nk-header-tools">
            <ul class="nk-quick-nav">
              <li class="dropdown user-dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <div class="user-toggle">
                    <div class="user-avatar sm">
                      <em class="icon ni ni-user-alt"></em>
                    </div>
                    <div class="user-info d-none d-md-block">
                      <div class="user-status">Administrator</div>
                      <div class="user-name dropdown-indicator">{{ user?.name }}</div>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
