<div class="div py-4" (valueChange)="updateUserList()">
  <div class="d-flex py-2 justify-between items-center">
    <h4 class="mb-3">Users</h4>
    <button class="btn btn-primary" (click)="open()">add user</button>
  </div>
  <div class="card">
    <div class="card-inner">
      <div class="nk-tb-list nk-tb-ulist">
        <div class="nk-tb-item nk-tb-head">
          <div class="nk-tb-col"><span class="sub-text">User</span></div>
          <div class="nk-tb-col tb-col-mb"><span class="sub-text">Email</span></div>
          <div class="nk-tb-col tb-col-md"><span class="sub-text">Date of Birth</span></div>
          <div class="nk-tb-col tb-col-lg text-right"><span class="sub-text">Tasks Assigned</span></div>
        </div>
        <div class="nk-tb-item">
          <div class="nk-tb-col"><a href="/demo3/user-details-regular.html">
            <div class="user-card">
              <div class="user-avatar bg-primary"><span>AB</span></div>
              <div class="user-info"><span class="tb-lead">Abu Bin Ishtiyak <span class="dot dot-success d-md-none ml-1"></span></span>
              </div>
            </div>
          </a></div>
          <div class="nk-tb-col tb-col-mb"><span>gibson@mail.com</span></div>
          <div class="nk-tb-col tb-col-lg"><span>10 Feb 2020</span></div>
          <div class="nk-tb-col tb-col-md text-right"><span class="text-right">3</span></div>
        </div>
      </div>
    </div>
  </div>
</div>

